#submit-button:hover {
  color: white;
  background-color: black;
}
#reset-button:hover {
  color:white;
  background-color: red;
}
body {
  background-color: mintcream;
}
li:hover{
  font-weight: bold;
}
button {
  border-radius: 5px;
  border-color: salmon;
}

ul {
  padding-left: 28%;
}
div {
  text-align: center;
}